<!DOCTYPE html>
<html>
<head>
	<title>Base</title>
	<style type="text/css">
	* {
		padding: 0;
		margin: 0;
	}
	</style>
</head>
<body>
	<div id="main">
		<textarea id="shared"></textarea>
	</div>
</body>
</html>